#map { height: 100%; }
article{
   height: 100%;
   width: 45%;
   position: fixed;
   bottom: 0;
	 left: 0;
   margin: 0 auto;
   background-color: rgba(255, 255, 255, 0.5);;
   z-index: 1;
	 display: none;
}
#map > div.leaflet-control-container{
  display: none;
}
body{
	margin: 0;
  font-size: 1.25em;
}
article{
  top:0;
  width: 45%;
}
article img{
  width: 100%;
  height: auto;
}
article.fullScreen{
  width: auto;
}
section{
  display: none;
}
nav{
  position: fixed;
  z-index: 1;
  left: 25%;
  width: 50%;
  justify-content: center;
  text-align: center;
}
.fullScreen img{
  position: fixed;
  top:0;
  left: 0;
  width: auto;
  height: auto;
}
.fullScreen .tekst{
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
}
